<div class="max-w-md mx-auto mt-10 bg-gray-800 text-gray-100 rounded-lg shadow-lg overflow-hidden">
  <div class="p-6">
    <h2 class="text-center text-2xl font-bold my-4">ぼうけんのしょ</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :name, "なまえ", class: "block text-lg font-bold mb-2" %>
        <%= f.text_field :name, autofocus: true, class: "w-full p-2 rounded focus:outline-none focus:shadow-outline text-black" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, "めーるあどれす", class: "block text-lg font-bold mb-2" %>
        <%= f.email_field :email, autocomplete: "email", class: "w-full p-2 rounded focus:outline-none focus:shadow-outline text-black" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, "あいことば", class: "block text-lg font-bold mb-2" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-400">( <%= @minimum_password_length %> もじいじょう )</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-2 rounded focus:outline-none focus:shadow-outline text-black" %>
      </div>

      <div class="mb-6">
        <%= f.label :password_confirmation, "あいことば(かくにん)", class: "block text-lg font-bold mb-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-2 rounded focus:outline-none focus:shadow-outline text-black" %>
      </div>

      <div class="text-center">
        <%= f.submit "ぼうけんのしょをつくる", class: "border border-white text-white bg-transparent hover:bg-gray-800 hover:bg-opacity-70 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>
