<div class="text-center my-4" style="font-size: 40px; font-weight: bold;">
  <p>かぶとをひとつえらぶのじゃ！</p>
</div>
<div class="equipments grid grid-cols-3 gap-4">
  <% @equipments.each do |equipment| %>
    <div class="equipment-item text-center">
      <%= form_with(url: apply_equipment_braver_path(@braver), method: :post, local: true) do |form| %>
        <%= form.hidden_field :equipment_id, value: equipment.id %>
        <%= form.hidden_field :current_scene_number, value: 8 %>
        <%= image_tag(equipment.image.url, alt: equipment.name, class: "equipment-image mx-auto") %>
        <p class="equipment-name mt-2"><%= equipment.name %></p>
        <%= form.submit "このかぶとをえらぶ", class: "submit-btn" %>
      <% end %>
    </div>
  <% end %>
</div>