<div class="text-center my-4" style="font-size: 40px; font-weight: bold;">
  <p>さあ、マジカルスパイスをひとつえらぶのじゃ！</p>
</div>
<div class="foods grid grid-cols-3 gap-4">
  <% @foods.each do |food| %>
    <div class="food-item text-center">
      <%= form_with(url: apply_food_braver_path(@braver), method: :post, local: true) do |form| %>
        <%= form.hidden_field :food_id, value: food.id %>
        <%= form.hidden_field :current_scene_number, value: 4 %>
        <%= image_tag(food.image.url, alt: food.name, class: "food-image mx-auto") %>
        <p class="food-name mt-2"><%= food.name %></p>
        <%= form.submit "このスパイスを選ぶ", class: "submit-btn" %>
      <% end %>
    </div>
  <% end %>
</div>
