<div class="max-w-md mx-auto mt-10 bg-gray-800 text-gray-100 rounded-lg shadow-lg overflow-hidden">
  <div class="p-6">
    <h1 class="text-xl font-bold mb-4 text-center">ぼうけんしゃギルド</h1>

    <%= form_with(model: @braver, local: true, class: "space-y-4") do |form| %>
      <% if @braver.errors.any? %>
        <div id="error_explanation" class="bg-red-200 border border-red-400 text-red-800 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">エラー：</strong>
          <span class="block sm:inline"><%= pluralize(@braver.errors.count, "件") %>が検出されました。</span>
          <ul class="list-disc list-inside">
            <% @braver.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :name, "なまえ", class: "block text-lg font-bold mb-2" %>
        <%= form.text_field :name, class: "w-full p-2 rounded focus:outline-none focus:shadow-outline text-black" %>
      </div>

      <div>
        <%= form.label :personality, "せいかく", class: "block text-lg font-bold mb-2" %>
        <%= form.select :personality, Braver.personalities.keys.map { |k| [k, k] }, {}, class: "w-full p-2 rounded focus:outline-none focus:shadow-outline text-black" %>
      </div>

      <div class="text-center">
        <%= form.submit "ぼうけんしゃをとうろく", class: "border border-white text-white bg-transparent hover:bg-gray-800 hover:bg-opacity-70 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>
