<div class="max-w-4xl mx-auto mt-10 p-4 bg-gray-900 text-gray-100 rounded-lg shadow-lg">
  <div class="border-4 border-white p-4 rounded-lg">
    <h1 class="text-2xl font-bold border-b-4 border-white pb-2 mb-4 bg-transparent"><%= @braver.name %></h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <!-- なまえとせいかくのコンテナを2カラム分に拡大 -->
      <div class="md:col-span-2 bg-transparent p-3 rounded-lg border-4 border-white">
        <h2 class="font-bold bg-transparent">なまえ:</h2>
        <p class="bg-transparent"><%= @braver.name %></p>
        <h2 class="font-bold bg-transparent mt-4">せいかく:</h2>
        <p class="bg-transparent"><%= @braver.personality_i18n %></p>
      </div>
      <!-- つよさのコンテナを2カラム分に設定 -->
      <div class="md:col-span-2 bg-transparent p-3 rounded-lg border-4 border-white">
        
        <div class="space-y-2 bg-transparent">
          <p>HP: <%= @braver.parameter.hp %></p>
          <p>MP: <%= @braver.parameter.mp %></p>
          <p>こうげき: <%= @braver.parameter.atk %></p>
          <p>ぼうぎょ: <%= @braver.parameter.def %></p>
          <p>すばやさ: <%= @braver.parameter.spd %></p>
          <p>かしこさ: <%= @braver.parameter.int %></p>
          
        </div>
      </div>
    </div>
    <div class="mt-4 text-center">
      <%= link_to 'もどる', bravers_path, class: "inline-block border-2 border-white bg-transparent hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" %>
    </div>
  </div>
</div>
